@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<GE_Flipper.Models.Item>

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link rel="stylesheet" href="~/css/datatables.css" />
}

@functions { /* Function to format the price into a more readable format
             1,000 gp -> 1K, 1,000,000 gp -> 1M, 1,000,000,000 gp -> 1B */

    string formatPrice(int price)
    {
        double coinAmount;
        string gpSuffix; // Suffix for the value/price (K, M, B)

        if (price < 1_000)
            return $"{price} gp"; // Show exact price if less than 1000
        else if (price < 1_000_000)
        {
            coinAmount = price / 1_000.0;
            gpSuffix = "K";
        }
        else if (price < 1_000_000_000)
        {
            coinAmount = price / 1_000_000.0;
            gpSuffix = "M";
        }
        else
        {
            coinAmount = price / 1_000_000_000.0;
            gpSuffix = "B";
        }

        return $"{coinAmount:0.#}{gpSuffix}"; // Formats the price to one decimal place and appends suffix
    }
}

<h1>Index</h1>

<p>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table" id="item-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th class="prices">
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*Displays image using the string for url stored in database*@
                <img src="@item.Image" alt="Item Icon" style="width: 25px; height: auto;" />
            </td>
                @{
                    var prices = ViewBag.CurrentPrice as Dictionary<int, int>; //Grabs view bag as dictionary
                    var currentPrice = prices != null && prices.ContainsKey(item.ItemId) ? prices[item.ItemId] : 0; //Grabs current price using the item id as key
                }
            <td data-sort="@currentPrice">
                    @formatPrice(currentPrice) @*Displays current price formatted with @formatPrice function*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemCategory.Name)
            </td>
            <td>
            @if (SignInManager.IsSignedIn(User))
                {
                <text>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                </text>
                }
            </td>
                
        </tr>
}
    </tbody>
</table>
@section  Scripts{
    <script>
        $(document).ready(function(){
            $('#item-table').DataTable({
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": [1,4]
                    }
                ]
            });
        });
    </script>
}
